
<div class="container">
   <div class="row">
      <div class="col-md-6">
          <div class="card">


              <div style="display: block">
                  <canvas baseChart
                              [data]="doughnutChartData"
                              [labels]="doughnutChartLabels"
                              [chartType]="doughnutChartType"
                              (chartHover)="DoughnutchartHovered($event)"
                              (chartClick)="DoughnutchartClicked($event)"></canvas>
                </div>

              <div class="row">

                <div class="col-md-6 padding-space">
                    <span>Customer Name</span>
                    <span class="float-right">:</span>
                </div>
                <div class="col-md-6 padding-space">
                    <span>Arunkumar</span>
                </div>

                <div class="col-md-6 padding-space">
                    <span>Customer Name</span>
                    <span class="float-right">:</span>
                </div>
                <div class="col-md-6 padding-space">
                    <span>Arunkumar</span>
                </div>

                <div class="col-md-6 padding-space">
                    <span>Customer Name</span>
                    <span class="float-right">:</span>
                </div>
                <div class="col-md-6 padding-space">
                    <span>Arunkumar</span>
                </div>

                <div class="col-md-6 padding-space">
                    <span>Customer Name</span>
                    <span class="float-right">:</span>
                </div>
                <div class="col-md-6 padding-space">
                    <span>Arunkumar</span>
                </div>

                <div class="col-md-6 padding-space">
                    <span>Customer Name</span>
                    <span class="float-right">:</span>
                </div>
                <div class="col-md-6 padding-space">
                    <span>Arunkumar</span>
                </div>
              </div>

              <div class="col-md-12 title-style">Upcoming Expected Premiums</div>
              <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Expected premium</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>22/10/2018</th>
                        <td>10000.00</td>
                      </tr>
                      <tr>
                          <th>22/10/2018</th>
                          <td>10000.00</td>
                      </tr>
                      <tr>
                            <th>22/10/2018</th>
                            <td>10000.00</td>
                      </tr>
                    </tbody>
                </table>
              </div>

          </div>
      </div>
      <div class="col-md-6">
          <div class="card">

              <div style="display: block">
                  <canvas baseChart
                          [datasets]="barChartData"
                          [labels]="barChartLabels"
                          [options]="barChartOptions"
                          [legend]="barChartLegend"
                          [chartType]="barChartType"></canvas>
                </div>

              <div class="row">

                  <div class="col-md-6 padding-space">
                      <span>Customer Name</span>
                      <span class="float-right">:</span>
                  </div>
                  <div class="col-md-6 padding-space">
                      <span>Arunkumar</span>
                  </div>
  
                  <div class="col-md-6 padding-space">
                      <span>Customer Name</span>
                      <span class="float-right">:</span>
                  </div>
                  <div class="col-md-6 padding-space">
                      <span>Arunkumar</span>
                  </div>
  
                  <div class="col-md-6 padding-space">
                      <span>Customer Name</span>
                      <span class="float-right">:</span>
                  </div>
                  <div class="col-md-6 padding-space">
                      <span>Arunkumar</span>
                  </div>
  
                  <div class="col-md-6 padding-space">
                      <span>Customer Name</span>
                      <span class="float-right">:</span>
                  </div>
                  <div class="col-md-6 padding-space">
                      <span>Arunkumar</span>
                  </div>
  
                  <div class="col-md-6 padding-space">
                      <span>Customer Name</span>
                      <span class="float-right">:</span>
                  </div>
                  <div class="col-md-6 padding-space">
                      <span>Arunkumar</span>
                  </div>
  
                </div>

                <div class="col-md-12 title-style">Upcoming Expected Premiums</div>
              <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Expected premium</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>22/10/2018</th>
                        <td>10000.00</td>
                      </tr>
                      <tr>
                          <th>22/10/2018</th>
                          <td>10000.00</td>
                      </tr>
                      <tr>
                            <th>22/10/2018</th>
                            <td>10000.00</td>
                      </tr>
                    </tbody>
                </table>
              </div>

          </div>
      </div>
   </div>
</div>
