.card-padding{
    padding:30px;
}
.padding-tb{
    padding-top:15px;
}
.login-txt{
    font-size: 30px;
}
.custom-login-btn{
    background-color: #135775;
    color: #fff;
}
.btn-primary.active.custom-file-control:before,
.btn-primary.custom-file-control:active:before,
.btn-primary.custom-file-control:focus:before,
.btn-primary.custom-file-control:hover:before,
.btn-primary.focus.custom-file-control:before,
.btn.btn-primary.active, .btn.btn-primary.focus,
.btn.btn-primary:active, .btn.btn-primary:focus,
.btn.btn-primary:hover,
.btn-primary,
.open>.btn-primary.dropdown-toggle.custom-file-control:before,
.open>.btn.btn-primary.dropdown-toggle{
    background-color:#3498db;
    color:#fff;
}
.error-holder{
    height:20px;
}
.error{
    color:#e74c3c;
    font-weight:bold;
}

input.ng-touched.ng-valid,input.ng-pristine.ng-invalid{
    border-color:#2ecc71;
    border-bottom:1px solid #888;
    background-image: none;
}
input.ng-touched.ng-invalid{
    border-color:#e74c3c;
    border-bottom:1px solid #e74c3c;
    background-image: none;
  }