<div>
    <div class="card card-padding col-md-4 offset-md-4">
      <div class="text-center">
        <img [src]="loginImage" width="150" />
        <div class="font-weight-bold login-txt" >Login</div>
      </div>
      <form>
        <div class="form-group padding-tb">
          <label for="email" class="font-weight-bold" >Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>
        <div class="form-group padding-tb">
          <label for="pwd" class="font-weight-bold" >Password:</label>
          <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
        </div>
      </form>
      <button class="btn btn-primary custom-login-btn col-md-6 offset-md-3">Login to my account</button>
    </div>
  </div>