<div>
    <div class="card card-padding col-md-4 offset-md-4">
      <div class="text-center">
        <img [src]="loginImage" width="150" />
        <div class="font-weight-bold login-txt" >Login</div>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="doLogin(loginForm.value)" >
        <div>
          <div class="form-group padding-tb">
            <label for="email" class="font-weight-bold" >Email:</label>
            <input formControlName="userName"  type="text" class="form-control" id="userName" placeholder="Enter user name" name="userName">
            <div class="error-holder">
              <div *ngIf="loginForm.get('userName').touched &&
                          loginForm.get('userName').invalid">
                <div class="error" *ngIf="loginForm.get('userName').errors.required">
                  *User name required
                </div>
              </div>
            </div>
          </div>
          <div class="form-group padding-tb">
            <label for="pwd" class="font-weight-bold" >Password:</label>
            <input formControlName="password" type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
            <div class="error-holder">
                <div *ngIf="loginForm.get('password').touched &&
                            loginForm.get('password').invalid">
                  <div class="error" *ngIf="loginForm.get('password').errors.required">
                    *Password required
                  </div>
                </div>
              </div>
          </div>
        </div>
        <button type="submit" [disabled]="!loginForm.valid"  class="btn btn-primary custom-login-btn col-md-6 offset-md-3">Login to my account</button>
      </form>
    </div>
  </div>