.padding-box{
    padding: 50px 20px;
}

.padding-tb{
    padding-top:15px;
    padding-bottom: 15px;
}
.padding-tb label{
    font-weight:bold;
}

.btn-primary.active.custom-file-control:before,
.btn-primary.custom-file-control:active:before,
.btn-primary.custom-file-control:focus:before,
.btn-primary.custom-file-control:hover:before,
.btn-primary.focus.custom-file-control:before,
.btn.btn-primary.active, .btn.btn-primary.focus,
.btn.btn-primary:active, .btn.btn-primary:focus,
.btn.btn-primary:hover,
.btn-primary,
.open>.btn-primary.dropdown-toggle.custom-file-control:before,
.open>.btn.btn-primary.dropdown-toggle{
    background-color:#3498db;
    color:#fff;
}