<div class="container">
  <div class="card card-padding">
     <div class="text-center">
        <img [src]="signupImage" width="100" />
        <div class="font-weight-bold signup-txt" >Create Account</div>
     </div>
     <div>
     <form class="card-padding">
        <div class="row">
            <div class="col-md-6 mb-3 padding-tb">
              <label for="firstName">First name</label>
              <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
            </div>
            <div class="col-md-6 mb-3 padding-tb">
              <label for="lastName">Last name</label>
              <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
            </div>
            <div class="col-md-6 mb-3 padding-tb">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" placeholder="" value="" required>
            </div>
            <div class="col-md-6 mb-3 padding-tb">
                <label for="emailaddress">Email Address</label>
                <input type="text" class="form-control" id="emailaddress" placeholder="" value="" required>
            </div>
            <div class="col-md-6 mb-3 padding-tb">
                <label for="phonenumber">Phone Number</label>
                <input type="text" class="form-control" id="phonenumber" placeholder="" value="" required>
            </div>
            <div class="col-md-6 mb-3 padding-tb">
                <label for="age">Age</label>
                <input type="text" class="form-control" id="age" placeholder="" value="" required>
            </div>
            <div class="col-md-6 mb-3 padding-tb">
                <label for="country">Gender</label>
                <div class="gender">
                  <span class="radio-inline"><input type="radio" name="gender"/><span class="helper">Male</span></span>
                  <span class="radio-inline"><input type="radio" name="gender" /><span class="helper">Female</span></span>
                  <span class="radio-inline"><input type="radio" name="gender" /><span class="helper">Transgender</span></span>
                </div>
            </div>
            <div class="col-md-6 mb-3 padding-tb">
                <label for="income">Monthly Income</label>
                <input type="text" class="form-control" id="income" placeholder="" value="" required>
            </div>
          </div>
      </form>
    </div>
    <button class="btn btn-primary custom-reg-btn col-md-4 offset-md-4">Create my account</button>
  </div>
</div>
